extends layout_require

block scripts
    script(type='text/javascript')
        ASSETS = '#{assets}';
        
    script(type='text/javascript', data-main='#{assets}js/app/getReportMain.js', src='#{assets}js/require-jquery.js')
    script(type='text/javascript')
        var TEMPLATE_PARAMS = {
            apiKey: "#{apiKey}",
            clientKey: "#{clientKey}",
            identity: "#{identity}",
            qry: !{JSON.stringify(qry)},
            host: "#{host}",
            port: "#{port}",
            psys: "#{psys}",
            site: "#{site}",
            ticket: "#{hash}",
            ts: #{ts}
        };
    style
        table.table-fmt1 td {text-align:center; vertical-align:middle; }
        table.table-fmt1 th {text-align:center; border: #000 solid; border-width: 0px 0px 1px 0px; }

block content
    body(style="min-width:1100px")
        div.head(style="height:100px")
            div#leftHead.leftHead
                | #{P3TXT.getReport.leftHeading}
            div#rightHead.rightHead
        div#reportTitle(style="display:none")
        div#getReportApp
        div(style="height:50px")
            div#leftFoot.leftFoot
